.sortDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 120px;
}

.sortText {
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
}

.sortInput {
    /* position: absolute; */
width: 200px;
height: 47px;
margin-left: 18px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
box-sizing: border-box;
border-radius: 4px;
}